<h1>I am in the ask page! Hello. From the controller questions</h1>

<!-- <form action="/answer">
  <input type="text" placeholder="Type down your question here!" name="user_question">
  <input type="submit">
</form> -->

<form action="/answer">
  <input type="text" placeholder="type here" name="user_input">
  <input type="submit">
</form>
